# dependencies
/node_modules
/server/node_modules

# Ignore audio, fonts, and big assets
server/Music/music/
server/fonts/
server/public/generated/
server/tmp/
*.mp3
*.wav
*.ogg
*.ttf
*.woff
*.woff2

# Ignore data files (if you don't want .txt/.docx tracked)
server/data/*.txt
server/data/*.docx

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
